@CHARSET "ISO-8859-1";
.footer-hover {
          background-color: rgba(0, 0, 0, 0.1);
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out
        }

        .footer-hover:hover {
          background-color: rgba(0, 0, 0, 0.2)
        }

        .text-black-40 {
          color: rgba(0, 0, 0, 0.4)
        }